[project]
	description = Advanced Programming in the UNIX Environment - Third Edition
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Brandon Gooch (brandongooch)
[access "refs/for/refs/*"]
	read = group user/Brandon Gooch (brandongooch)
	push = group user/Brandon Gooch (brandongooch)
	label-Code-Review = -2..+2 group user/Brandon Gooch (brandongooch)
	label-Verified = -1..+1 group user/Brandon Gooch (brandongooch)
	rebase = group user/Brandon Gooch (brandongooch)
	removeReviewer = group user/Brandon Gooch (brandongooch)
	submit = group user/Brandon Gooch (brandongooch)
[access "refs/heads/*"]
	read = group user/Brandon Gooch (brandongooch)
	create = group user/Brandon Gooch (brandongooch)
	push = +force group user/Brandon Gooch (brandongooch)
	pushMerge = group user/Brandon Gooch (brandongooch)
[access "refs/tags/*"]
	push = +force group user/Brandon Gooch (brandongooch)
	pushTag = group user/Brandon Gooch (brandongooch)
	pushSignedTag = group user/Brandon Gooch (brandongooch)
